<body>

    <div class="container gamelist">

        <h1>Empieza tu búsqueda {{loggedUser.username}}</h1>

        <form class="form-search content-search navbar-form" action="/games/search" method="post"
            style="margin-top: 20px;">
            <div class="input-group">
                <input placeholder="Escribe el título de un videojuego..." class="form-control form-text" type="text"
                    size="15" maxlength="128" name="searchGame" />
            </div>
        </form>

        <div class="container bg-transparent">
            <div class="row">
                {{#each games}}
                <div class="col-4 mt-4">
                    <div class="card gamesCards">
                        <img src="{{background_image}}" class="card-img-top" alt="game-image">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>

                            <label for="platforms" class="form-label">Plataformas disponibles:</label>
                            <select class="form-select" name="platforms" id="platforms">
                                {{#each platforms}}
                                <option>{{platform.name}}</option>
                                {{/each}}
                            </select>
                            <br>

                            <a href="/games/{{id}}/details" class="btn btn-dark">Detalles </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <br>

</body>